*.log
*.tar

*.psd
*.bin
*.spm
*.zip
.env
*node_modules*
/packages
/models
/.bin
/dist
/.claude
/tests/ff
/tests/MTranCore

deprecated/go/bin/worker
deprecated/go/dist/mtranserver-darwin-arm64
*.o
src/generated/
src/assets/ui.ts
src/assets/swagger.ts
*.tgz
/release
/.electron-node-modules
/.electron-build-temp
